h1 {
    text-align: center;
}
input[type="text"] {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid gray;
}

.p1 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: blue;
}
.p2 {
    font-size: 18px;
    font-family: 'Times New Roman', serif;
    color: darkcyan;
}

.button1 {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}
.button1:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(83, 82, 82);

}
