.container {
    width: 100px;
    height: 100px;
    background-color: red;
}

#diff {
    border-radius: 15px;
    border: 7px solid green;
    padding: 10px;
}

.maman {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 270px;
}